---
import "../styles/global.css";
import { Analytics } from "@vercel/analytics/react";

interface Props {
	title: string;
	description?: string;
}

const { title, description = "Design your UI quickly and practically with AI." } = Astro.props;
---

<!doctype html>
<html lang='en' class='dark'>
	<head>
		<meta charset='UTF-8' />
		<meta
			name='viewport'
			content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'
		/>
		<link rel='icon' type='image/svg+xml' href='/icon.svg' />
		<link rel='manifest' href='/manifest.json' />
		<meta name='generator' content={Astro.generator} />
		<title>{title}</title>
		<meta name='description' content={description} />

		<!-- Open Graph / Facebook -->
		<meta property='og:type' content='website' />
		<meta property='og:url' content='https://fromdrawtoui.vercel.app/' />
		<meta property='og:title' content={title} />
		<meta property='og:description' content={description} />
		<meta
			property='og:image'
			content='https://fromdrawtoui.vercel.app/og-image.png'
		/>

		<!-- Twitter -->
		<meta property='twitter:card' content='summary_large_image' />
		<meta property='twitter:url' content='https://fromdrawtoui.vercel.app/' />
		<meta property='twitter:title' content={title} />
		<meta property='twitter:description' content={description} />
		<meta
			property='twitter:image'
			content='https://fromdrawtoui.vercel.app/og-image.png'
		/>

		<!-- Fonts -->
		<link rel='preconnect' href='https://fonts.googleapis.com' />
		<link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
		<link
			href='https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'
			rel='stylesheet'
		/>

		<!-- Theme Script -->
		<script is:inline>
			// Check local storage for theme, default to dark
			const theme = (() => {
				if (
					typeof localStorage !== 'undefined' &&
					localStorage.getItem('theme')
				) {
					return localStorage.getItem('theme')
				}
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
					return 'dark'
				}
				return 'dark' // Default
			})()

			if (theme === 'light') {
				document.documentElement.classList.remove('dark')
			} else {
				document.documentElement.classList.add('dark')
			}

			window.localStorage.setItem('theme', theme)
		</script>
	</head>
	<body
		class='h-[100dvh] w-screen overflow-hidden bg-background text-foreground font-sans'>
		<slot />
		<Analytics client:idle />
	</body>
</html>
